# This file contains all the environment variables that are used in the project.
# To use this file, rename it to `.env` and fill in the values.

# Server variables
HOST='localhost'
PORT='3000'

# JWT variables
ACCESS_TOKEN_SECRET='05879ddcc1c1ceedb17792f076092974b98182e5a017ff796c502fa64e6adc134823dced9fc6d5758f823bf7b132405b6f682517a14ec6bfdcc4b74cee66e653'
REFRESH_TOKEN_SECRET='8289b248831b2f969a569b0aae6fabff0068ca9c29c3c49c4590c2b999db4637b46a2f0f0884c469d450a85d83283db992210f7336d9cc37d11170499162b449'

# Password salt cost
SALT_COST='10'

# Database variables
DATABASE_NAME=''
DATABASE_USER=''
DATABASE_USER_PASSWORD=''
DATABASE_HOST=''
DATABASE_PORT=''

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mongodb+srv://<username>:<password>@cluster0.kzd7fgm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'